@import url("https://fonts.googleapis.com/css2?family=Dhurjati&display=swap");

:root {
  --bs-body-font-family: "Dhurjati", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #0d0d0f !important;
  font-family: "Dhurjati", sans-serif !important;
  color: beige;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  -webkit-box-shadow: 1px 8px 29px 0px rgba(245, 245, 220, 0.5);
  -moz-box-shadow: 1px 8px 29px 0px rgba(245, 245, 220, 0.5);
  box-shadow: 1px 8px 29px 0px rgba(245, 245, 220, 0.5);
  padding: 8px 24px;
  background: #0d0d0f !important;
}

.nav-item {
  margin-right: 8px;
}
